.loginSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 750px;
    background-color: #c9c9c9;
    padding-top: 100px;
    margin-bottom: none;
}

.loginSignup-container {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
    padding: 40px 60px;
    border: black;
}

.loginSignup-container h1 {
    margin: 20px 0px;
    font-size: 25px;
}

.loginSignup-fields {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 30px;
}

.loginSignup-fields input {
    height: 40px;
    width: 80%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginSignup-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    color: white;
    background: blue;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginSignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginSignup-login span {
    color:red;
    font-weight: 600;
}

.loginSignup-agree {
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}